<p>
    <mat-toolbar style="background-color: #3c928c;">
      <span style="color: white; margin-left: 40px;">Smart Bill Predictor</span>
      <button mat-raised-button color="primary" routerLink="/" style="margin-left: 1000px; background-color: white;
      color: #3c928c;" >Logout</button>
    </mat-toolbar>
  </p>
  <p>
    <mat-toolbar style="background-color: #3c928c; color: white; padding-left: 600px; width: 90%; margin-left: 60px; margin-top: 70px;">
      <h1 style="color: white;">User</h1>
    </mat-toolbar>
  </p>
<div class="mat-elevation-z8" style="width: 90%; margin-left: 60px; ">

    <div class="table-button-search">
      <h4 style="margin-left: 20px;"></h4>
      <div style="margin-right: 20px;">
        <mat-form-field class="table-search-field">
          <mat-label>search</mat-label>
          <input matInput (keyup)="applyFilter($event)">
        </mat-form-field>
    
        <button mat-button class="table-add-user-button" (click)="AddNewUser()">
            Add Admin
        </button>
      </div>
    </div>
    
    <div class="mat-elevation-z8">
    
      <table mat-table [dataSource]="users"  class="users-table">
    
        <!-- profile image Column -->
        <ng-container matColumnDef="profileImage">
          <th mat-header-cell *matHeaderCellDef class="user-table-header">Account #</th>
          <td mat-cell *matCellDef="let element"> 
            {{element.account}}
          </td>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef class="user-table-header"> Name </th>
          <td mat-cell *matCellDef="let element" > {{element.name}} </td>
        </ng-container>
    
         <!-- Rights Column -->
         <ng-container matColumnDef="rights">
          <th mat-header-cell *matHeaderCellDef class="user-table-header">Email Address</th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>
    
        <!-- Created Date Column -->
        <ng-container matColumnDef="createdDate">
          <th mat-header-cell *matHeaderCellDef class="user-table-header"> Phone </th>
          <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
        </ng-container>
    
        <!-- role Column -->
        <!-- <ng-container matColumnDef="role">
          <th mat-header-cell *matHeaderCellDef class="user-table-header"> Role </th>
          <td mat-cell *matCellDef="let element"> {{element.account}} </td>
        </ng-container> -->
    
        <!-- Action Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef class="user-table-header"> Action </th>
          <td mat-cell *matCellDef="let element" class="action-link"> 
            <button mat-icon-button aria-label="table-delete-icon-button" (click)="delete($event, element)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    
      <!-- <mat-paginator [pageSizeOptions]="[5, 10, 50 , 100]" showFirstLastButtons></mat-paginator> -->
    </div>
    